header {  
    margin: 0;
    background-image: url(../img/pattern.png);
    background-color: #006cfa;
}

#logo {
    width: 200px;
    margin: 30px 4px 7px 10px;

}

h1 {
    font-size: 40px;
    margin: auto;
}

.autore {
    color: grey;
    font-size: 14px;
    margin: 0;
}
#boolean {
    color: #00c8fa;
}

.evidenziatore {
    background-color: yellow;;
}

.lista {
    padding-left: 10px;
}

table {
    width: 1100px;
    text-align: left;
    border-collapse: collapse;
}

thead {
    color: white;
    background-color: aqua;
}

.table_blue {
    background-color: lightblue;
}

td {
    width: calc(100%/3);
}

h3 {
    color: gray;
}

.img {
    width: 250px;
    height: 250px;
    ;
}

#monitor {
    background-image: url(../img/monitor.jpg);
}

#grafico {
    background-image: url(../img/graph.jpg);
}

.testo_foto {
    padding: 15px;
    color: white;
    font-weight: 800;
}